* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    user-select: none;
    scroll-behavior: smooth;
}

nav {
    box-shadow: 5px 5px 10px rgb(188, 184, 184);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.elements {
    align-items: center;
    justify-content: center;
}

.elements .courses {
    display: flex;
}

.elements .offer-text {
    background-color: #FF8C00;
    color: #fff;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    padding: 3px 6px;
    margin-left: 6px;
    letter-spacing: .5px;
}

.user-auth {
    margin-left: 3rem;
}

.search {
    border-radius: 5px;
}

.search i {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    color: #000;
    font-weight: 500;
    font-size: 20px;
}

.search p {
    padding-left: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
}

button {
    border: 2px solid rgb(0, 165, 236);
    padding: 8px 16px;
    border-radius: 3px;
    font-size: 15px;
    width: auto;
    height: 2.5rem;
    transition: 0.3s ease;
}

button.register {
    color: white;
    background-color: rgb(0, 165, 236);
}

button.login {
    padding: 7px 20px;
}

.user-auth button.login:hover {
    background-color: rgb(202, 205, 202);
    transform: translateY(-2px);
}

.user-auth button.register:hover {
    background-color: rgb(0, 114, 163);
    transform: translateY(-2px);
}

/* .navbar-large-screens {
    display: none;
} */

@media screen and (max-width: 1024px) {
    .navbar-large-screens {
        display: none;
    }
}