* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    user-select: none;
    scroll-behavior: smooth;
}

nav {
    box-shadow: 5px 5px 10px rgb(188, 184, 184);
}

.nav-main i {
    display: none;
}

.elements {
    align-items: center;
    justify-content: center;
}

.search {
    border: 2px solid rgb(28, 100, 46);
    background-color: rgb(28, 100, 46);
    border-radius: 5px;
}

.search i {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
}

.search input {
    padding-left: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
    padding-left: 10px;
}

button {
    border: 2px solid rgb(28, 100, 46);
    padding: 5px;
    border-radius: 8px;
    font-size: 15px;
    width: 80px;
    transition: 0.3s ease;
}

button.register {
    color: white;
    background-color: rgb(28, 100, 46);
}

.user-auth button.login:hover {
    background-color: rgb(202, 205, 202);
    transform: translateY(-2px);
}

.user-auth button.register:hover {
    background-color: rgb(20, 69, 32);
    transform: translateY(-2px);
}

@media screen and (max-width: 1024px) {
    .nav-main i {
        display: block;
    }
}